.right-sidebar {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.calendar-table {
  td,
  th {
    padding: 8px 5px;
    font-size: 0.8rem;
    color: #6c757d;
  }
  th {
    font-weight: 600;
    color: #343a40;
  }
  td.active-date {
    background-color: #0d6efd;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 15px;
    display: inline-block;
    padding: 8px 0;
  }
}

.calendar-table td {
  vertical-align: middle;
  &.active-date {
    background-color: #0d6efd;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    display: table-cell;
  }
}

.custom-accordion .accordion-button {
  background-color: transparent;
  color: #495057;
  &:not(.collapsed) {
    color: #0d6efd;
    background-color: rgba(13, 110, 253, 0.05);
  }
  &::after {
    background-size: 0.8rem;
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
