<ul class="menu p-4">

  <li routerLink="/dashboard" routerLinkActive="active">
    <i class="bi bi-speedometer2"></i>
    <span>Dashboard</span>
  </li>

  <li
    *ngIf="role === 'admin'"
    routerLink="/employees"
    routerLinkActive="active"
  >
    <i class="bi bi-people"></i>
    <span>Employees</span>
  </li>

  <li
    routerLink="/attendance"
    routerLinkActive="active"
  >
    <i class="bi bi-calendar-check"></i>
    <span>Attendance</span>
  </li>

  <li
    routerLink="/leave"
    routerLinkActive="active"
  >
    <i class="bi bi-file-earmark-text"></i>
    <span>Leave</span>
  </li>

  <li
    *ngIf="role === 'admin'"
    routerLink="/payroll"
    routerLinkActive="active"
  >
    <i class="bi bi-cash-stack"></i>
    <span>Payroll</span>
  </li>

  <li
    routerLink="/profile"
    routerLinkActive="active"
  >
    <i class="bi bi-person-circle"></i>
    <span>My Profile</span>
  </li>

</ul>
