.sidebar-left {
  width: 230px;
  background: #ffffff;
  height: 100%;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);
  overflow-y: auto;
}
.menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &.active {
    background: #e7f0ff;
    color: #0d6efd;
    font-weight: 600;
  }

  i {
    font-size: 16px;
  }
}
