.avatar-group {
    display: flex;
    justify-content: center;
    .avatar {
        width: 30px;
        height: 30px;
        margin-left: -10px;
        &:first-child { margin-left: 0; }
        font-size: 0.7rem;
        font-weight: 600;
        background-color: #e9ecef;
    }
}
.btn-icon:hover {
    background-color: rgba(var(--bs-primary-rgb), 0.1);
}
.modal-backdrop.show { opacity: 0.5; }
